.container {
  columns: 300px;
  gap: 15px;
}

.card {
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: var(--border);
}

.card:hover .image {
  scale: 1.1;
}

.image {
  width: 100%;
  display: block;
  transition: all 0.3s;
}

/*/////..... Media ...../////*/

@media (min-width: 1050px) {
  .container {
    columns: 220px;
  }
}

@media (min-width: 1270px) {
  .container {
    columns: 250px;
  }
}

@media (min-width: 1425px) {
  .container {
    columns: 300px;
  }
}

@media (max-width: 1005px) {
  .container {
    columns: 250px;
  }
}

@media (max-width: 855px) {
  .container {
    columns: 200px
  }
}

@media (max-width: 470px) {
  .container {
    columns: 150px;
  }
}

@media (max-width: 375px) {
  .container {
    columns: 120px;
    gap: 10px
  }

  .card {
    margin-bottom: 10px;
  }
}